@{
    ViewData["Title"] = "Vehicle model";

    var sortOptions = new Dictionary<string, string>
    {
        { "NameAsc", "Sort by Name (A-Z)" },
        { "NameDesc", "Sort by Name (Z-A)" },
        { "AbrvAsc", "Sort by Abrv (A-Z)" },
        { "AbrvDesc", "Sort by Abrv (Z-A)" },
        { "MakeAsc", "Sort by Make (A-Z)" },
        { "MakeDesc", "Sort by Make (Z-A)" }
    };

    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}
@model VehicleManager.Models.ModelDisplayViewModel

<div class="text-center">
    <h1 class="display-4">Vehicle model</h1>
    <hr />
    <a asp-controller="VehicleModel" asp-action="VehicleModelForm" class="btn btn-primary mt-3">+ Add new vehicle model</a>
    <hr/>

    <div class="d-flex flex-row">
        <div class="me-3 align-content-center">
            Filter:
        </div>
        <div>
            <form asp-action="VehicleModel" method="get" class="d-flex align-items-center">
            <select asp-for = "@Model.MakeId" class="form-select w-auto d-inline" onchange="this.form.submit()">
                    
                    @if (Model.MakeId == null)
                    {
                        <option value="" selected>All Makes</option>
                    }
                    else
                    {
                        <option value="">All Makes</option>
                    }

                    @foreach (var make in Model.VehicleMakesSelectList)
                    {
                        if (make.Value == Model.MakeId.ToString())
                        {
                            <option value="@make.Value" selected>@make.Text</option>
                        }
                        else
                        {
                            <option value="@make.Value">@make.Text</option>
                        }
                    }
                    
            </select>
            <input type="hidden" asp-for = "@Model.SortBy" />
            <input type="hidden" asp-for = "@Model.PagedResultViewModel.PageSize"/>
            <input type="hidden" asp-for = "@Model.PagedResultViewModel.CurrentPage"/>
        </form>
        </div>

    </div>
    <hr/>

    <div class="d-flex justify-content-between">

        <!-- Form for sorting -->
        <form asp-action="VehicleModel" method="get" class="d-flex align-items-center">
            <select asp-for = "@Model.SortBy" class="form-select w-auto d-inline" onchange="this.form.submit()">
                @foreach (var option in sortOptions)
                {
                    <option value="@option.Key" selected="@(option.Key == Model.SortBy ? "selected" : null)">
                        @option.Value
                    </option>
                }
            </select>
            <input type="hidden" asp-for = "@Model.PagedResultViewModel.PageSize"/>
            <input type="hidden" asp-for = "@Model.PagedResultViewModel.CurrentPage"/>
            <input type="hidden" asp-for = "@Model.MakeId"/>
        </form>

        <!-- Page Size Dropdown -->
        <form asp-action="VehicleModel" class="mt-3 mb-3">
            <label for="pageSize" class="form-label">Items per page:</label>
            <select id="pageSize" asp-for = "@Model.PagedResultViewModel.PageSize" class="form-select w-auto d-inline" onchange="this.form.submit()">
                @foreach (var size in new int[] { 5, 10, 15, 20, 25, 30 })
                {
                    if (size == Model.PagedResultViewModel.PageSize)
                    {
                        <option value="@size" selected>@size</option>
                    }
                    else
                    {
                        <option value="@size">@size</option>
                    }
                }
            </select>
            <input type="hidden" asp-for="@Model.SortBy" />
            <input type="hidden" asp-for="@Model.PagedResultViewModel.CurrentPage" />
            <input type="hidden" asp-for="@Model.MakeId" />
        </form>


    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Make</th>
                    <th>Abrv</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var vehicleModel in Model.PagedResultViewModel.Items)
                    {
                        <tr>
                            <td>@vehicleModel.Name</td>
                            <td>@vehicleModel.Make</td>
                            <td>@vehicleModel.Abrv</td>
                            <td>
                                <form asp-asp-controller="VehicleModel" asp-action="EditVehicleModelForm">
                                    <input type="hidden" name="id" value="@vehicleModel.Id" />
                                    <button type="submit" class="btn alert-primary">Edit</button>
                                </form>
                            </td>
                            <td>
                                <form asp-asp-controller="VehicleModel" asp-action="DeleteVehicleModel">
                                    <input type="hidden" name="id" value="@vehicleModel.Id"/>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>


        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">

                <!-- Previous Button -->
                <li class="page-item @(Model.PagedResultViewModel.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" asp-action="ChangePage" asp-route-pageNumber="@(Model.PagedResultViewModel.CurrentPage - 1)" asp-route-pageSize="@Model.PagedResultViewModel.PageSize" asp-route-sortBy="@Model.SortBy" asp-route-makeId = "@Model.MakeId">Previous</a>
                </li>

                <!-- Page Numbers -->
                @for (int i = 1; i <= Model.PagedResultViewModel.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PagedResultViewModel.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-action="ChangePage" asp-route-pageNumber="@i" asp-route-pageSize="@Model.PagedResultViewModel.PageSize" asp-route-sortBy="@Model.SortBy" asp-route-makeId="@Model.MakeId">@i</a>
                    </li>
                }

                <!-- Next Button -->
                <li class="page-item @(Model.PagedResultViewModel.CurrentPage == Model.PagedResultViewModel.TotalPages || Model.PagedResultViewModel.Items.Count == 0 ? "disabled" : "")">
                    <a class="page-link" asp-action="ChangePage" asp-route-pageNumber="@(Model.PagedResultViewModel.CurrentPage + 1)" asp-route-pageSize="@Model.PagedResultViewModel.PageSize" asp-route-sortBy="@Model.SortBy" asp-route-makeId="@Model.MakeId">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success">
            @successMessage
        </div>
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">
            @errorMessage
        </div>
    }


</div>